<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pinyougou.mapper.BrandMapper">
    <delete id="deleteAll">
        DELETE FROM tb_brand where id in
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>

    <select id="findAll" resultType="Brand">
        SELECT * FROM tb_brand
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="firstChar != null and firstChar != ''">
                AND first_char = #{firstChar}
            </if>
        </where>
        ORDER BY id ASC
    </select>
</mapper>
